body{
    margin: 0;
}
        nav{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            align-content: center;
        background-color:#F1F1F1;
        height: 100px;
        width: 100%;
        text-decoration: none;
        list-style-type: none;
   
      

        }
        ul{
              list-style-type: none;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              gap: 20px;
              padding:20px;

        }
        li img{
            height: 50px;
            width: 50px;
            border-radius: 25px;
        }
        a{
            text-decoration: none;
        }
        /* sib */
.sidebar {
      width: 220px;
      background: lightskyblue;
      color: #fff;
      position: fixed;
      top: 0;
      bottom: 0;
      padding: 20px 0;
    }
    .sidebar h2 {
      text-align: center;
      margin-bottom: 30px;
    }
    .sidebar ul {
      list-style: none;
      padding: 0;
      display: flex;           
  flex-direction: column
    }
    .sidebar ul li {
      padding: 12px 20px;
      cursor: pointer;
     
      
    }
    .sidebar ul li:hover {
      background: #3d8de8;
    }
    /* log */
 .con {
    display: flex;
    justify-content: center;   
    align-items: center;       
    background-color: aliceblue;
    height: 100vh;             
    width: 100%;   }            

.main {
    padding: 20px;
    background-image: url(images/log.webp);
    height: 250px;
    width: 350px;
    opacity: 2;
      display: flex;
  flex-direction: column;     
  justify-content: space-between;
  align-items: center; 
    
}
.main button{
       margin-top: 55px;
       margin-left: 55px;
}
  /* Cards */
    .cards {
      display: grid;
      /* grid-template-columns: repeat(3, 400px); */
      grid-template-columns: 400px;
      grid-template-rows: repeat(3,180px);
      /* gap: 20px; */
      justify-content: center;
      align-items: center;
     
    }
    .card {
      background: #fff;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
      background-color:pink;
    }
    .card h3 {
      margin-top: 0;
      color: #1976d2;
    }

    /* Atd Table */
    table {
      width: 800px;
      margin-left: 50px;
      border-collapse: collapse;
      margin-bottom: 50px;

    }
    table, th, td {
      border: 1px solid #ddd;
      padding: 10px;
      text-align: center;
    }
    th {
      background: #1976d2;
      color: #fff;
    }

 